.wrapper {
  background-image: url(/images/background.jpg);
  background-size: cover;
  margin:0 auto;

  width: 1200px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
